@font-face {
    font-family: 'Molodo';
    src: url("../../../public/ofont.ru_Molodost.ttf");
}



.wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mainBlock {
    width: 100vw;
}


.cards {
    margin-top: calc(100vh + 100px);
    width: 100vw;
    margin-bottom: 150px;
}



#secondaryText, #mainText {
    letter-spacing: 2px;
    font-family: Molodo, serif;
    color: white;
    font-size: 46px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background: no-repeat center/100%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
}

#slider1 {
    animation: Slides1 9s ease-in-out 0s infinite;
}

#slider2 {
    animation: Slides2 9s ease-in-out 3s infinite;
}

#slider3 {
    animation: Slides3 9s ease-in-out 6s infinite;
}
@keyframes Slides1 {
    0% {
        left: 0;
    }
    33% {
        left: 0;
    }
    50% {
        left: -100vw;
    }
    90% {
        left: -100vw;
    }
    100% {
        left: 0;
    }
}

@keyframes Slides2 {
    0% {
        left: 0;
    }
    33% {
        left: 0;
    }
    50% {
        left: -100vw;
    }
    100% {
        left: -100vw;
    }
}

@keyframes Slides3 {
    0% {
        left: 0;
    }
    66% {
        left: 0;
    }
    83% {
        left: 0;
    }
    100% {
        left: -100vw;
    }
}
.filters {
    width: 20vw;
}

.filterMenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    height: 100vh;
    vertical-align: center;
}

.resetButton {
    display: block;
    margin: 8px auto;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}


.filterItem {
    margin: 20px;
}

.applyButton {
    margin-top: 16px;
}

.paginationBlock {
    display: flex;
    justify-content: center;
    margin: 2% 0 0 15%;
}

